.video-content_post
  %p= tweet.text
  .content_post{:style => "background-image: url(#{tweet.image} )"}
    .more
      %span= image_tag 'arrow_top.png'
      %ul.more_list
        %li
          = link_to 'Finely', tweet_path(tweet.id), method: :get
        - if user_signed_in? && current_user.id == tweet.user_id
          %li
            = link_to 'Edit', edit_tweet_path(tweet.id), method: :get
          %li
            = link_to 'Delete', tweet_path(tweet.id), method: :delete
  .video_post
    = link_to tweet.video_url.to_s do
      = video_tag tweet.video_url.to_s,width: "75%", height: "75%", controls: true, autobuffer: true
  %span.name
    %a{:href => "/users/#{tweet.user.id}"}
      %span 投稿者
      = tweet.user.nickname
