 <%# 部分テンプレートとしてindex.html.erbからデータを持って来た。 %>
  <div class="video-content_post">
    <div class="content_post" style="background-image: url(<%= tweet.image %> )" >
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to 'Finely', tweet_path(tweet.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <li>
              <%= link_to 'Edit', edit_tweet_path(tweet.id), method: :get %>
            </li>
            <li>
              <%= link_to 'Delete', tweet_path(tweet.id), method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
      <p><%= tweet.text %></p>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>
    <div class="video_post">
      <%= link_to tweet.video_url.to_s do %>
        <%= video_tag tweet.video_url.to_s,width: "75%", height: "75%", controls: true, autobuffer: true %>
      <% end %>
    </div>


  </div>
