!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NaPuRi
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %header.header
      .header__bar.row
        %h1.grid-6
          %a{:href => "/"}
            NaPuRi
            %h3 〜自分だけの思い出を残そう〜
        - if user_signed_in?
          .user_nav.grid-6
            %span
              = current_user.nickname
              %ul.user__info
                %li
                  = link_to "MyPage", "/users/#{current_user.id}"
                  = link_to "LogOut", destroy_user_session_path, method: :delete
            = link_to "POST", new_tweet_path, class: "post"
        - else
          .grid-6
            = link_to "LogIn", new_user_session_path, class: "post"
            = link_to "SignUp", new_user_registration_path, class: "post"
    = yield
    %footer
      %p
        Copyright NaPuRi 2020.
